@CHARSET "ISO-8859-1";

caption
{
 	text-align: left;
    margin-bottom: 3px;
    font-size: 120%;
    padding: 3px;
    font-weight: bold;
}

.error
{
	color:red;
}

.info
{
	color:blue;
}

.dataTable
{
	border:1px solid black;
	cellpadding:0px;
	cellspacing:0px;	
}

.tdclass, .thclass{
	border:1px solid black;
    text-align: center;
    padding: 10px;
}